ProgramData/Exoplanet Library/schema/EXOPLANET.V.1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Exoplanets">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Exoplanet">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Mass">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:double" use="optional" />
                                    <xs:attribute name="errorMin" type="xs:double" use="optional" />
                                    <xs:attribute name="errorMax" type="xs:double" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Radius">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:double" use="optional" />
                                    <xs:attribute name="errorMin" type="xs:double" use="optional" />
                                    <xs:attribute name="errorMax" type="xs:double" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="OrbitalPeriod">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:double" use="optional" />
                                    <xs:attribute name="errorMin" type="xs:double" use="optional" />
                                    <xs:attribute name="errorMax" type="xs:double" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="SemiMajorAxis">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:double" use="optional" />
                                    <xs:attribute name="errorMin" type="xs:double" use="optional" />
                                    <xs:attribute name="errorMax" type="xs:double" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Eccentricity">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:double" use="optional" />
                                    <xs:attribute name="errorMin" type="xs:double" use="optional" />
                                    <xs:attribute name="errorMax" type="xs:double" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="AngularDistance">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:double" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Inclination">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:double" use="optional" />
                                    <xs:attribute name="errorMin" type="xs:double" use="optional" />
                                    <xs:attribute name="errorMax" type="xs:double" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="TzeroTr">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:double" use="optional" />
                                    <xs:attribute name="errorMin" type="xs:double" use="optional" />
                                    <xs:attribute name="errorMax" type="xs:double" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="TzeroTrSec">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:string" use="optional" />
                                    <xs:attribute name="errorMin" type="xs:double" use="optional" />
                                    <xs:attribute name="errorMax" type="xs:double" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="LambdaAngle">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:double" use="optional" />
                                    <xs:attribute name="errorMin" type="xs:string" use="optional" />
                                    <xs:attribute name="errorMax" type="xs:double" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="TzeroVr">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:double" use="optional" />
                                    <xs:attribute name="errorMin" type="xs:double" use="optional" />
                                    <xs:attribute name="errorMax" type="xs:double" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Temperatures">
                                <xs:complexType>
                                    <xs:attribute name="Calculated" type="xs:double" use="optional" />
                                    <xs:attribute name="Measured" type="xs:double" use="optional" />
                                    <xs:attribute name="HotPointLon" type="xs:double" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="LogG">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:double" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="PublicationStatus">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Discovered">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Updated">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Omega">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:double" use="optional" />
                                    <xs:attribute name="errorMin" type="xs:double" use="optional" />
                                    <xs:attribute name="errorMax" type="xs:double" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Tperi">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:double" use="optional" />
                                    <xs:attribute name="errorMin" type="xs:double" use="optional" />
                                    <xs:attribute name="errorMax" type="xs:double" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="DetectionType">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Molecules">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Star">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Magnitudes">
                                            <xs:complexType>
                                                <xs:attribute name="V" type="xs:double" use="optional" />
                                                <xs:attribute name="I" type="xs:double" use="optional" />
                                                <xs:attribute name="J" type="xs:double" use="optional" />
                                                <xs:attribute name="H" type="xs:double" use="optional" />
                                                <xs:attribute name="K" type="xs:double" use="optional" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Properties">
                                            <xs:complexType>
                                                <xs:attribute name="Distance" type="xs:double" use="optional" />
                                                <xs:attribute name="Metallicity" type="xs:double" use="optional" />
                                                <xs:attribute name="Mass" type="xs:double" use="optional" />
                                                <xs:attribute name="Radius" type="xs:double" use="optional" />
                                                <xs:attribute name="SPType" type="xs:string" use="optional" />
                                                <xs:attribute name="Age" type="xs:double" use="optional" />
                                                <xs:attribute name="Teff" type="xs:double" use="optional" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="Name" type="xs:string" use="required" />
                                    <xs:attribute name="RightAccession" type="xs:string" use="optional" />
                                    <xs:attribute name="Declination" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="version" type="xs:integer" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>